/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #FFF;
    
    height: 100vh;
}

::-webkit-scrollbar{
    width: 7px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb{
    width: 7px;
    background-color: #0e8b60;
    border-radius: 30px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    border-radius: 30px;
    border: none;
    background-color: #0b4539;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.btn-contato button:hover {
    box-shadow: 0px 0px 4px #0b4539;
    transform: scale(1.05);
}

h1 {
    font-size: 35px;
    color: #05241f;
    font-weight: 500;
    margin-bottom: 50px;
}

h2 {
    font-size: 16px;
    margin-bottom: -8px;
    color: #0e8b60;
    font-weight: 600;
}

/* ESTILO DO CABEÇALHO */

header {
    padding: 20px 4%;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    width: 180px;
}

header a {
    color: #0b4539;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 30px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 15px;
}

/* ESTILO DO BANNER*/

section.site-banner {
    padding: 130px 4% 25px 4%;
    margin-top: -107px;
    background-image: linear-gradient(to right, #4fab7c, #a7e18d);
    border-radius: 0px 0px 30px 30px;
    height: 100vh;
}

section.site-banner .flex {
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.site-banner .txt-banner {
    width: 50%;
}

.site-banner .txt-banner h1 {
    color: #FFF;
    font-size: 60px;
    line-height: 70px;
    font-weight: 800;
    margin-bottom: -10px;
}

.site-banner .txt-banner p {
    color: #FFF;
    margin: 40px 0;
    font-size: 20px;
    margin-right:50px;
}

.site-banner h1 span, .site-banner p span {
    color: #0b4539;
}

.site-banner .img-banner{
    width: 50%;
}

.site-banner .img-banner img{
    width: 75vh;
}

/*ESTILO DOS SERVIÇOS*/

section.solutions {
    padding: 60px 4%;
}

section.solutions .flex {
    gap: 40px;
}

.solutions h1 {
    text-align: center;
}

.solutions h2 {
    text-align: center;
}

.solutions .solution-card {
    border: 2px solid #0b453981;
    border-radius: 15px;
    padding: 20px;
    transition: .5s;
    
}

.solutions .solution-card:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 10px #00000027;
}

.solutions .solution-card img {
    border-radius: 10px;
}

.solutions .solution-card h3 {
    font-weight: 500;
    font-size: 21px;
    color: #0b4539;
}

.solutions .solution-card p {
    font-weight: 400;
    font-size: 14px;
    color: #05241f;
    margin: 15px 0;
    text-align: justify;
}

.solutions .solution-card .btn-contato  {
    text-align: center;
    background-color: 0e8b60;
}

.solution-card  .btn-contato button{
    background-color: #0e8b60;
}

.solution-card button:hover {
    box-shadow: 0px 0px 4px #0e8b60;
}

/*ESTILO DO ABOUT-US*/

section.about-us {
    padding: 60px 4%;
}

section.about-us .flex {
    gap: 50px;
}

.about-us .about-us-container {
    background-color: #f4f4f4;
    padding: 20px 40px;
    border-radius: 20px;
    margin-left: 215px;
}

.about-us .about-us-container .about-us-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-container .about-us-content h1 {
    margin-bottom: 15px;
}

.about-us-container .about-us-content p {
    font-weight: 400;
    font-size: 16px;
    color: #05241f;
    margin: 5px 0;
    text-align: justify;
}

.about-us-content .btn-contato button{
    background-color: #0e8b60;
    margin-top: 20px;
}

.about-us-container .about-us-image img{
    margin-left: -215px;
    margin-top: 15px;
}

/*ESTILO TAPE*/

.tape-container {
    padding: 10px 0;
    margin: 30px 0;
    background-color: #0e8b60; 
    white-space: nowrap;
    transform: rotate(1.5deg)
}

.tape-container  p {
    color: #FFF;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

/*ESTILO DO PORTFÓLIO*/

section.portfolio {
    padding: 60px 4%;
}

section.portfolio h1 {
    margin-bottom: 10px;
    color: #05241f;
}

section.portfolio p {
    font-size: 18px;
    color: #05241f;
    margin-bottom: 40px;
}

section.portfolio .flex {
    gap: 20px;
    justify-content: center;
}

.portfolio .portfolio-cards h3 {
    font-size: 22px;
    color: #0b4539;
    text-align: center;
    margin: 10px 0 5px 0;
}

.portfolio .portfolio-cards p {
    font-size: 15px;
    color: #05241f;
    text-align: center;
}

.portfolio .portfolio-cards .img-portfolio{
    width: 288px;
    height: 350px;
    background-size: cover;
    background-position: 100% 0;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px #00000042;
    transition: 5s;
}

.portfolio .portfolio-cards .img-portfolio:hover{
    background-position: 100% 100%;
}

/*ESTILO DO CHAMADA*/

section.call-conteiner {
    padding: 60px 4%;
    background-color: #05241f;
    background-image: url(../img/bg-site-chamada.jpg);
}

section.call-conteiner .call-content {
    text-align: center;
    padding: 70px 150px;
}

.call-content h2 {
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    margin: 10px;
}

.call-content h1 {
    font-size: 35px;
    font-weight: 800;
    color: #FFF;
    margin-bottom: 40px;
}

.call-content h1 span{
    color: #2ccf7f;
}

.call-content .btn-contato button{
    background-color: #0e8b60;
    font-size: 20
    px;
}

/*STEP BY STEP STYLE*/

section.step-by-step {
    padding: 60px 4%;
}

section.step-by-step .flex {
    gap: 25px;
    margin-bottom: 25px;
    justify-content: center;
}

.step-by-step h1{
    text-align: center
}

.step-by-step h2{
    text-align: center
}

.step-by-step .step {
    width: 50%;
    box-sizing: border-box;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.step-by-step .step .step-number h4 {
    font-size: 50px;
    font-weight: 900;
    color: #0b4539;
}

.step-by-step .step .step-content h3 {
    font-size: 20px;
    font-weight: 500;
    color: #0b4539;
}

.step-by-step .step .step-content p {
    font-size: 16px;
    color: #05241f;
}

/* ESTILO FAQ */

section.faq {
    padding: 60px 4%;
}

.faq h1{
    text-align: center
}

.faq h2{
    text-align: center
}

.question {
    width: 100%;
    list-style: none;
}

.question li {
    width: 100%;
    margin-bottom: 10px;
}

.question li label {
    padding: 10px 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #0e8b5f59;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 30px;
}

.question li label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 15px;
}

.question input[type=radio] {
    display: none;
}

.question .resposta {
    color: #05241f;
    padding: 10 14px;
    line-height: 30px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s, padding .5s;
}

.question input[type=radio]:checked + label + .resposta{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.question input[type=radio]:checked + label::before {
    content: '-';
}

/* ESTILO DO FOOTER*/

.line-footer {
    background-color: #0b4539;
    padding: 10px;
}

.line-footer p{
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
}